<li><%= link_to("Doctors Registration", new_doctor_path) %></li>	
<li><%= link_to("Patients Registration", new_patient_path) %></li>	            	
<li><%= link_to("Login", new_user_session_path) %></li>         