<br><td><%= current_user.name %></td>
<br><td><%= current_user.email %></td>

<br>
<br>

<br><h4>Doctors list</h4>
   <% @doctors.each do |doctor| %>
     <div class="card border-dark mb-3">
       <div class="card">
         <div class="card-body" style="background-color: #CCFFCC;">
           <p><%= doctor.user.name %></p>
	       <p><%= doctor.specialization %></p>  
	     </div>
	   </div>
     </div>
   <% end %>
