<br><td><%= current_user.name %></td>
<br><td><%= current_user.email %></td>

<% @doctors.each do |doctor| %>
   <% doctor.appointments.each do |appointment| %>
     <div class="card border-dark mb-3">
       <div class="card">
         <div class="card-body" style="background-color: #CCFFCC;">
           <p>created: <%= appointment.created_at %></p>
           <p>visit time: <%= appointment.visit_time%></p>
	      </div>
	    </div>
      </div>
   <% end %>
<% end %>